@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC", sans-serif;
}

body {
    font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
}

img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    margin: auto;
}

/* header styling */
header {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid gray;
}

.headertext {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.headertext img {
    width: 60px;
}

.search {
    margin-top: 2.5rem;
    width: 100%;
    height: 30px;
}

.search fieldset {
    display: flex;
    gap: 4px;
    padding-right: 3px;
    border-radius: 6px;
    border: 2px solid black;
}

.search input {
    width: calc(100% - 36px);
    height: 30px;
    border: none;
    border-right: 2px solid black;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    padding: 1rem;
}

.search button {
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.search img {
    width: 100%;
}


/* main styling */

main {
    padding: 1rem 1rem;
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid black;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.recipe h2 a {
    text-decoration: none;
    color: var(--secondary-color);
}

.recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-image {
    flex-basis: 50%;
}

figcaption {
    flex-basis: 50%;
}

.recipe ul {
    padding: 0.3rem 0 1.3rem;
}

.recipe ul li {
    list-style: none;
    border: 2px solid black;
    display: inline;
    padding: 0.3rem 0.6rem;
    margin-right: 0.3rem;
}

.recipe__description {
    margin-top: 1rem;
}

/* footer styling */

footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 1rem;
    font-size: 0.7em;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
}

.social {
    display: flex;
    gap: 0.5rem;
}

.social img {
    width: 40px;
}


/* responsive styling */
@media screen and (min-width: 700px) {
    .recipe {
        flex-direction: row;
    }

    footer {
        flex-direction: row;
        padding: 0 3rem;
    }
}